@model IViewModel
@{ var pagination = new CPagination(Model); }
@if (pagination.MaxPages > 1)
{
    <div class="pagination">
        @if(pagination.CurrentPage > 1)
            {
                <a class="prev my-icons" id="arrow" href="?page=@pagination.PrevPage">&#60;</a>
            }
        @foreach (var item in pagination.GetPages("page", "current", "uncurrent", "last", "dotted", "..."))
        {
            if (item.Url == "#")
            {
                <a class="@item.ClassName" href="#">@item.Title</a>
            }
            else if (item.Title == "...")
            {
                <a class="@item.ClassName" href="@item.Url">...</a>
            }
            else
            {
                <a class="@item.ClassName" href="@item.Url">@item.Title</a>
            }
        }
        @if(pagination.CurrentPage != pagination.MaxPages)
        {
            <a class="next my-icons" id="arrow" href="?page=@pagination.NextPage">&#62;</a>
        }
    </div>
}