@{ var pagination = new CPagination(Context); }
@if (pagination.MaxPages > 1)
{
    <div class="pagination">
        @if(pagination.CurrentPage > 1)
            {
                <a class="prev my-icons" href="?page=@pagination.PrevPage">
                    <i class="fa fa-chevron-left left-arrow"></i>
                </a>
            }
        @foreach (var item in pagination.GetPages("page", "current", "uncurrent", "last", "dotted", "..."))
        {
            if (item.Url == "#")
            {
                <a class="@item.ClassName" href="#">@item.Title</a>
            }
            else if (item.Title == "...")
            {
                <a class="@item.ClassName" href="@item.Url">...</a>
            }
            else
            {
                <a class="@item.ClassName" href="@item.Url">@item.Title</a>
            }
        }
        @if(pagination.CurrentPage != pagination.MaxPages)
        {
            <a class="next my-icons" href="?page=@pagination.NextPage">
                <i class="fa fa-chevron-right right-arrow"></i>
            </a>
        }
    </div>
}