@{ var pagination = new CPagination(Context); }
@if (pagination.MaxPages > 1)
{
    <div class="pagination">
        @if(pagination.CurrentPage > 1)
            {
                <div class="prev">
                    <a class="my-icons arrow-box" href="?page=@pagination.PrevPage">
                        <i class="fa fa-chevron-left left-arrow"></i>
                    </a>
                </div>
            }
        @foreach (var item in pagination.GetPages("page", "current", "uncurrent", "last", "dotted", "..."))
        {
            if (item.Url == "#")
            {
                <a class="@item.ClassName" href="#">@item.Title</a>
            }
            else if (item.Title == "...")
            {
                <a class="@item.ClassName" href="@item.Url">...</a>
            }
            else
            {
                <a class="@item.ClassName" href="@item.Url">@item.Title</a>
            }
        }
        @if(pagination.CurrentPage != pagination.MaxPages)
        {
            <div class="next">
                <a class="my-icons arrow-box" href="?page=@pagination.NextPage">
                    <i class="fa fa-chevron-right right-arrow"></i>
                </a>
            </div>
        }
    </div>
}