<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Brewed Coffee
Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20090411

-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@Config["MainPageTitle"]</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="@Config["path_css-file"]" rel="stylesheet" type="text/css" media="screen" asp-append-version="true"/>
        <link href="/css/media.css" rel="stylesheet" type="text/css" media="screen" asp-append-version="true">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            @await Html.PartialAsync("_Header")
            <div id="main">
                @RenderBody()
            </div>
            @await Html.PartialAsync("_Footer")
        </div>
        <script type="text/javascript" src="/js/main.js" asp-append-version="true"></script>
    </body>
</html>




@*<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@Config["MainPageTitle"]</title>
        <link href="@Config["path_css-file"]" rel="stylesheet" type="text/css" media="screen" asp-append-version="true"/>
        <link href="/css/media.css" rel="stylesheet" type="text/css" media="screen" asp-append-version="true">
    </head>
    <body>
        <div class="container">
            @await Html.PartialAsync("_Header")
            <div id="main">
                @RenderBody()
            </div>
            @await Html.PartialAsync("_Footer")
        </div>
        <script type="text/javascript" src="/js/main.js" asp-append-version="true"></script>
    </body>
</html>*@
