@model CPost
<div class="admin-content">
    <h1>Edit post</h1>
    <form method="post" action="#">
        <p>
            <label>
                <span>Title: </span>
                <input type="text" name="Title" value="@Model.Title"/>
            </label>
        </p>
        <p>
            <label>
                <span>Content: </span>
                @Html.TextAreaFor(m => m.Content)  
            </label>
        </p>
        <p>
            <label>
                <span>Author: </span>
                <input type="text" name="Author" value="@Model.Author"/>
            </label>
        </p>
        <p>
            <label>
                <span>Category Id: </span>
                <input type="text" name="CategoryId" value="@Model.CategoryId"/>
            </label>
        </p>
        <p>
            <label>
                <span>Created Date: </span>
                <input type="datetime-local" name="CreatedDate" value="@Model.CreatedDate.ToString("s")"/>
            </label>
        </p>
        <p>
            <label>
                <input type="submit" name="action" value="Update" />
            </label>
        </p>
        <p>
            <label>
                <input type="submit" name="action" value="Delete" />
            </label>
        </p>
    </form>
    <a href='/admin/posts'><input type="button" value="Cancel"></a>
    <a href='/admin/logout'><input type="button" value="Log Out"></a>
</div>

