@model CPost
@{
    ViewData["Title"] = "Admin Edit Post Page";
}
<div class="admin-content">
    @await Html.PartialAsync("_AdminMenu")
    <a class="admin-back-button" href='@Config["route_admin-posts"]'>Cancel</a>
    @if (Model.Title == null)
    {
        <h1 class="admin-title">Create post</h1>
    }
    else
    {
        <h1 class="admin-title">Edit post</h1>
    }
    <form method="post" action="#">
        <p>
            <label class="edit-post-title">
                <input type="text" name="Title" value="@Model.Title"/>
            </label>
        </p>
        <p>
            <label class="edit-post-content">
                @Html.TextAreaFor(m => m.Content)  
            </label>
        </p>
        <p>
            <label class="edit-post-author">
                <span>Author: </span>
                @if (Model.Author == null)
                {
                    <input type="text" name="Author" value="admin"/>
                }
                else
                {
                    <input type="text" name="Author" value="@Model.Author"/>
                }
            </label>
        </p>
        @if(Model.Title != default)
        {
            <p>
                <label class="edit-post-cat-id">
                    <span>Category: </span>
                    <select name="CategoryID" id="cats" >
                        @foreach(CCategory cat in CConfService.DB.Categories)
                        {
                            if (cat.Id == Model.CategoryId)
                            {
                                <option value="@cat.Id" selected="selected">@cat.Title</option>
                            }
                            else
                            {
                                 <option value="@cat.Id">@cat.Title</option>
                            }
                        }
                    </select>
                </label>
            </p>
            <p>
                <label class="edit-post-date">
                    <span>Created Date: </span>
                    <input type="datetime-local" name="CreatedDate" value="@Model.CreatedDate.ToString("s")"/>
                </label>
            </p>
            <p>
                <label>
                    <input class="admin-update-button" type="submit" name="action" value="Update" />
                </label>
            </p>
            <span class="or">- or - </span>
            <a class="admin-delete-big-button" href="@Config["route_admin-delete-post"].Replace("{id:int}", @Model.Id.ToString())">Delete</a>
        }
        else
        {
            <p>
                <label>
                    <span>Category: </span>
                    <select name="CategoryID" id="cats" >
                        <option value="" selected disabled hidden></option>
                        @foreach(CCategory cat in CConfService.DB.Categories)
                        {
                            <option value="@cat.Id">@cat.Title</option>
                        }
                    </select>
                </label>
            </p>
            <p>
                <label>
                    <span>Created Date: </span>
                    <input type="datetime-local" name="CreatedDate" value="@DateTime.Now.ToString("s")"/>
                </label>
            </p>
            <p>
                <label>
                    <input class="add-post-button" type="submit" name="action" value="Create" />
                </label>
            </p>
        }
    </form>
</div>

