@model CCategory
@{
    ViewData["Title"] = "Admin Edit Category Page";
}
<div class="admin-content">
    @await Html.PartialAsync("_AdminMenu")
    
    <a class="admin-back-button" href='@Config["route_admin-categories"]'>Cancel</a>
    @if (Model.Title == null)
    {
        <h1 class="admin-title">Create category</h1>
    }
    else
    {
        <h1 class="admin-title">Edit category</h1>
    }
    <form class="edit-cat-form" method="post" action="#">
        <p>
            <label class="edit-category-title">
                <span>Title: </span>
                <input type="text" name="Title" value="@Model.Title"/>
            </label>
        </p>
        <p>
            <label>
                <span class="edit-category-slug">Slug: </span>
                <input type="text" name="Slug" value="@Model.Slug"/>
            </label>
        </p>
        
        @if(Model.Title != default)
        {
            <label>
                <input class="admin-update-button" type="submit" name="action" value="Update" />
            </label>
            <span class="or">- or - </span>
            <a class="admin-delete-big-button" href="@Config["route_admin-delete-category"].Replace("{id:int}", @Model.Id.ToString())">Delete</a>
        }
        else
        {
            <label>
                <input class="add-category-button" type="submit" name="action" value="Create" />
            </label>
        }
    </form>
</div>
