@using ASP_BrewedCoffee_DB.Models
@model IEnumerable<CPost>
@inject IConfiguration Config
@{
    ViewData["Title"] = "Admin Posts Page";
}
<div class="admin-content">
    <ul class="admin-menu">
        <li>
            <a href="@Config["route_admin-posts"]">Show Posts</a>
        </li>
        <li>
            <a href="@Config["route_admin-categories"]"> Show Categories</a>
        </li>
        <li>
            <a href='#'>Change something</a>
        </li>
        <li>
            <a href='#'>Enter the Matrix</a>
        </li>
        <li>
            <a href='@Config["route_logout"]'>Log out</a>
        </li>
    </ul>
    <div class="open-post-id">
        <span>Open post by id:</span> 
        <form method="get" action="@Config["route_admin-find-post"]">
            <input type="number" name="id">
            <input type="submit" value="Open">
            <input type="hidden" name="action" value="open_post_id">
        </form>
    </div>
    <h1 class="admin-title">Posts</h1>
    <ul class="admin-posts-list">
        @foreach (CPost post in Model)
        {
            <li class="admin-list-item">
                <div>
                    <a class="change-list-element" href="@Config["route_admin-edit-post"].Replace("{id:int?}", @post.Id.ToString())">edit</a>
                    <span>@CHelper.CropString(post.Id + " : " + post.Title, 65)</span>
                    <span class="post-by">   by @post.Author</span>
                </div>
                <a class="change-list-element del" href="@Config["route_admin-delete-post"].Replace("{id:int}", @post.Id.ToString())">del</a>
            </li>
        }
    </ul>
    <a class="add-post-button" href="@Config["route_admin-edit-post"].Replace("{id:int?}", string.Empty)">Add new</a>
    @await Html.PartialAsync("_Pagination")
</div>
    
